/*style.css*/
/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.blog-main {
  font-size: 13px;
  line-height: 1.5;
}

.tbl-section-meta {
  margin-bottom: 20px;
  color: #999;
}

.tbl-section {
  margin-bottom: 60px;
}

.site-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.gridcareer {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 670px; 
    
	}

.gridpostseason {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 640px; 
    
	}

.gridplayers10 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 340px; 
    
	}

.gridplayers11 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 370px; 
    
	}

.gridplayers12 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 400px; 
    
	}

.gridplayers13 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 430px; 
    
	}

.gridplayers14 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 460px; 
    
	}

.gridplayers15 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 490px; 
    
	}

.gridplayers16 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 520px; 
    
	}

.gridplayers17 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 550px; 
    
	}

.gridplayers18 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 580px; 
    
	}

.gridplayers19 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 610px; 
    
	}

.gridplayers20 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 640px; 
    
	}

.gridplayers21 {
    
	border: 1px solid rgb(212,212,212);

	width: 970px;
	height: 670px; 
    
	}



.grid-align-right {
    text-align: right;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-1{
  top: 53px;
  right: -50px;
  left: auto;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.corner-ribbon.top-2{
  top: 53px;
  right: -110px;
  left: auto;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.corner-ribbon.top-3{
  top: 53px;
  right: -170px;
  left: auto;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.corner-ribbon.top-4{
  top: 53px;
  right: -230px;
  left: auto;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.corner-ribbon.top-5{
  top: 53px;
  right: -290px;
  left: auto;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}