<div class="tbl-section">
    <p class="tbl-section-meta">
        Career: {{ fall19.wins + spring19.wins + fall18.wins + summer18.wins + spring18.wins + winter18.wins + fall17.wins + summer17.wins + spring17.wins + winter17.wins + fall16.wins + summer16.wins + spring16.wins + winter16.wins + fall15.wins 
        + summer15.wins + spring15.wins + winter15.wins + fall14.wins + summer14.wins + ps.wins }} &minus; {{ fall19.losses + spring19.losses + fall18.losses + summer18.losses + spring18.losses + winter18.losses + fall17.losses + summer17.losses + spring17.losses 
        + winter17.losses + fall16.losses + summer16.losses + spring16.losses + winter16.losses + fall15.losses + summer15.losses 
        + spring15.losses + winter15.losses + fall14.losses + summer14.losses + ps.losses }} &minus; {{ fall19.ties + spring19.ties + fall18.ties + summer18.ties + spring18.ties + winter18.ties + fall17.ties + summer17.ties + spring17.ties 
        + winter17.ties + fall16.ties + summer16.ties + spring16.ties + winter16.ties + fall15.ties + summer15.ties + spring15.ties 
        + winter15.ties + fall14.ties + summer14.ties }}
    </p>
    <div class="gridcareer" ng-grid="gridCareerOptions"></div>
</div>

<div class="container">
    <div class="row ">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>

                                <!-- summer 2014-->

                                <tr ng-repeat="item in summer14.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
                                </tr>
                                
                                <!--fall 14-->

                                <tr ng-repeat="item in fall14.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- winter 2015-->  

                                <tr ng-repeat="item in winter15.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- spring 2015-->

                                <tr ng-repeat="item in spring15.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- summer 2015-->
                                                    
                                <tr ng-repeat="item in summer15.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- fall 2015-->
                                
                                <tr ng-repeat="item in fall15.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>
                                                            
                                <!--winter 2016-->
                                
                                <tr ng-repeat="item in winter16.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- spring 2016-->

                                <tr ng-repeat="item in spring16.schedule">
                                    <td>{{item.time}}</td>
                                    <td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
                                    <td>{{ 
                                            item.runs > item.oppRuns ? 'W' 
                                                    : (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
                                                    : (item.runs === item.oppRuns) ? 'T'
                                                    : 'L' }} 
                    
                                                    {{item.runs}} - {{item.oppRuns }}
                                    </td>
                                </tr>

                                <!-- summer 2016-->

                                <tr ng-repeat="item in summer16.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- fall 2016-->

                                <tr ng-repeat="item in fall16.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>
                                                                        
                                <!-- winter 2017-->

                                <tr ng-repeat="item in winter17.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>
                                                                            
                                <!-- spring 2017-->

                                <tr ng-repeat="item in spring17.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- summer 2017-->

                                <tr ng-repeat="item in summer17.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- fall 2017-->

                                <tr ng-repeat="item in fall17.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- winter 2018-->

                                <tr ng-repeat="item in winter18.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- spring 2018-->

                                <tr ng-repeat="item in spring18.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- summer 2018 -->

                                <tr ng-repeat="item in summer18.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>
                                                                                                    
                                <!-- fall 2018-->

                                <tr ng-repeat="item in fall18.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- no winter 2019 season-->

                                <!-- spring 2019-->

                                <tr ng-repeat="item in spring19.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>

                                <!-- no summer 2019 season -->

                                <!-- fall 2019 -->

                                <tr ng-repeat="item in fall19.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>
                                 
                                <!-- winter 2020-->
                                <tr ng-repeat="item in winter20.schedule">
									<td>{{item.time}}</td>
									<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
									<td>{{ 
											item.runs > item.oppRuns ? 'W' 
													: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
													: (item.runs === item.oppRuns) ? 'T'
													: 'L' }} 
					
													{{item.runs}} - {{item.oppRuns }}
									</td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>