<div class="tbl-section">
	<p class="tbl-section-meta">Record: {{ coed.wins }} &minus; {{ coed.losses }} &minus; {{ coed.ties }}</p>
	<div class="gridplayers18" ng-grid="gridcoedOptions"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Friday, Sept 22 @ 6:15pm</td>
									<td>@ Now Hiring</td>
									<td>W 17 - 6</td>
								</tr>
								<tr>
									<td>Friday, Sept 22 @ 7:15pm</td>
									<td>vs Why are my balls yellow</td>
									<td>W 9 - 8</td>
								</tr>
								<tr>
									<td>Friday, Sept 29 @ 7:15pm</td>
									<td>@ Here to FSU</td>
									<td>W 9 - 4</td>
								</tr>
								<tr>
									<td>Friday, Sept 29 @ 8:15pm</td>
									<td>vs The Odd Balls</td>
									<td>W 16 - 3</td>
								</tr>
								<tr>
									<td>Friday, Oct 6 @ 6:15pm</td>
									<td>@ Racks N Sacks</td>
									<td>W 10 - 9</td>
								</tr>
								<tr>
									<td>Friday, Oct 6 @ 7:15pm</td>
									<td>vs Now Hiring</td>
									<td>W 10 - 7</td>
								</tr>
								<tr>
									<td>Friday, Oct 20 @ 8:15pm</td>
									<td>@ The Odd Balls</td>
									<td>T 12 - 12</td>
								</tr>
								<tr>
									<td>Friday, Oct 20 @ 9:15pm</td>
									<td>vs The Odd Balls</td>
									<td>L 12 - 13</td>
								</tr>
								<tr>
									<td>Friday, Oct 27 @ 8:15pm</td>
									<td>vs Why are my balls yellow</td>
									<td>W 17 - 7</td>
								</tr>
								<tr>
									<td>Friday, Oct 27 @ 10:15pm</td>
									<td>@ Now Hiring</td>
									<td>W 9 - 3</td>
								</tr>
								<tr>
									<td>Friday, Nov 3 @ 8:15pm</td>
									<td>@ Here to FSU</td>
									<td>W 11 - 9</td>
								</tr>
								<tr>
									<td>Friday, Nov 3 @ 9:15pm</td>
									<td>vs Here to FSU</td>
									<td>W 10 - 7</td>
								</tr>
								<tr>
									<td>Friday, Nov 17 @ 9:15pm</td>
									<td>vs MM Crew</td>
									<td></td>
								</tr>
								<tr>
									<td>Friday, Nov 17 @ 10:15pm</td>
									<td>@ MM Crew</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>