<div class="tbl-section">
	<p class="tbl-section-meta">Record: {{ coed.wins }} &minus; {{ coed.losses }} &minus; {{ coed.ties }}</p>
	<div class="gridplayers10" ng-grid="gridcoedOptions"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Friday, Sept 22 @ 6:15pm</td>
									<td>@ Now Hiring</td>
									<td>W 17 - 6</td>
								</tr>
								<tr>
									<td>Friday, Sept 22 @ 7:15pm</td>
									<td>vs Why are my balls yellow</td>
									<td>W 9 - 8</td>
								</tr>
								<tr>
									<td>Friday, Sept 29 @ TBD</td>
									<td>@ TBD</td>
									<td></td>
								</tr>
								<tr>
									<td>Friday, Sept 29 @ TBD</td>
									<td>vs TBD</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>