<div class="tbl-section">
	<p class="tbl-section-meta">Fall 2016: {{ fall16.wins }} &minus; {{ fall16.losses }} &minus; {{ fall16.ties }}</p>
	<div class="gridplayers16" ng-grid="gridFall16Options"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, Sept 14 @ 6:30pm</td>
									<td>vs Moisticles</td>
									<td>W 14 - 7</td>
								</tr>
								<tr>
									<td>Wed, Sept 14 @ 7:30pm</td>
									<td>@ Moisticles</td>
									<td>L 14 - 15</td>
								</tr>
								<tr>
									<td>Wed, Sept 21 @ 6:30pm</td>
									<td>@ The Tuff Guys </td>
									<td>L 8 - 12</td>
								</tr>
								<tr>
									<td>Wed, Sept 21 @ 7:30pm</td>
									<td>vs The Tuff Guys</td>
									<td>W 18 - 13</td>
								</tr>
								<tr>
									<td>Wed, Sept 28 @ 8:30pm</td>
									<td>vs Fighting Chucks</td>
									<td>W 15 - 7</td>
								</tr>
								<tr>
									<td>Wed, Sept 28 @ 9:30pm</td>
									<td>@ Fighting Chucks</td>
									<td>L 11 - 22</td>
								</tr>
								<tr>
									<td>Wed, Oct 5 @ 6:30pm</td>
									<td>vs Southern Wine &amp; Spirits</td>
									<td>W FFT</td>
								</tr>
								<tr>
									<td>Wed, Oct 5 @ 7:30pm</td>
									<td>@ Southern Wine &amp; Spirits</td>
									<td>W FFT</td>
								</tr>
								<tr>
									<td>Wed, Oct 12 @ 8:30pm</td>
									<td>@ Son's of Pitches Do's</td>
									<td>L 12 - 13</td>
								</tr>
								<tr>
									<td>Wed, Oct 12 @ 9:30pm</td>
									<td>vs Son's of Pitches Do's</td>
									<td>L 11 - 18</td>
								</tr>
								<tr>
									<td>Wed, Oct 19 @ 6:30pm</td>
									<td>@ Caught Looking</td>
									<td>L 9 - 18</td>
								</tr>
								<tr>
									<td>Wed, Oct 19 @ 7:30pm</td>
									<td>vs Caught Looking</td>
									<td>W 20 - 18</td>
								</tr>
								<tr>
									<td>Wed, Oct 26 @ 8:30pm</td>
									<td>@ Los Cacahuetes</td>
									<td>W 21 - 7</td>
								</tr>
								<tr>
									<td>Wed, Oct 26 @ 9:30pm</td>
									<td>vs Los Cacahuetes</td>
									<td>W 17 - 7</td>
								</tr>
								<tr>
									<td>Wed, Nov 11 @ 8:30pm</td>
									<td>vs Longballs (C League Playoffs)</td>
									<td>L 10 - 13</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	 </div>
</div>