<div class="tbl-section">
    <p class="tbl-section-meta">Fall 2019: {{ fall19.wins }} &minus; {{ fall19.losses }} &minus;
        {{ fall19.ties }}</p>
    <div class="gridplayers11" ng-grid="gridFall19Options"></div>
</div>

<div class="container">

    <div class="row ">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Wed, Sept 11 @ 8:30pm</td>
                                    <td>vs Balco Bombers</td>
                                    <td>W 18 - 11</td>
                                </tr>
                                <tr>
                                    <td>Wed, Sept 11 @ 9:30pm</td>
                                    <td>vs Outlaws</td>
                                    <td>W 10 - 2</td>
                                </tr>
                                <tr>
                                    <td>Wed, Sept 18 @ 8:30pm</td>
                                    <td>vs Bunt Blasters</td>
                                    <td>W 14 - 11</td>
                                </tr>
                                <tr>
                                    <td>Wed, Sept 18 @ 9:30pm</td>
                                    <td>@ 99 Problems</td>
                                    <td>W 22 - 3</td>
                                </tr>
                                <tr>
                                    <td>Wed, Sept 25 @ 6:30pm</td>
                                    <td>@ Outlaws</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Sept 25 @ 7:30pm</td>
                                    <td>vs 99 Problems</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Oct 2 @ 7:30pm</td>
                                    <td>vs Los Cacahuetes</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Oct 2 @ 8:30pm</td>
                                    <td>@ Los Cacahuetes</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Oct 9 @ 6:30pm</td>
                                    <td>vs Cruisers</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Oct 9 @ 7:30pm</td>
                                    <td>@ Misfits</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Oct 16 @ 6:30pm</td>
                                    <td>@ Hey Cuz</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Oct 16 @ 7:30pm</td>
                                    <td>vs Bunt Blasters</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Oct 23 @ 6:30pm</td>
                                    <td>@ Hey Cuz</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Oct 23 @ 7:30pm</td>
                                    <td>vs Arena Sports Grill</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>