<div class="tbl-section">
	<p class="tbl-section-meta">Fall 2017: {{ fall17.wins }} &minus; {{ fall17.losses }} &minus; {{ fall17.ties }}</p>
	<div class="gridplayers10" ng-grid="gridFall17Options"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, Sept 13 @ 8:30pm</td>
									<td>@ Balco Bombers</td>
									<td>W 20 - 8S</td>
								</tr>
								<tr>
									<td>Wed, Sept 13 @ 9:30pm</td>
									<td>vs Balco Bombers</td>
									<td>W 23 - 8</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	 </div>
</div>