<div class="tbl-section">
	<p class="tbl-section-meta">Fall 2014: {{ fall14.wins }} &minus; {{ fall14.losses }} &minus; {{ fall14.ties }}</p>
	<div class="gridplayers16" ng-grid="gridFall14Options"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, Sept 17 @ 8:30pm</td>
									<td>vs Old Dogs</td>
									<td>T 10 - 10</td>
								</tr>
								<tr>
									<td>Wed, Sept 17 @ 9:30pm</td>
									<td>@ Old Dogs</td>
									<td>L 15 - 16</td>
								</tr>
								<tr>
									<td>Wed, Sept 24 @ 8:30pm</td>
									<td>@ Who's on First</td>
									<td>L 5 - 13</td>
								</tr>
								<tr>
									<td>Wed, Sept 24 @ 9:30pm</td>
									<td>vs Who's on First</td>
									<td>W 13 - 12</td>
								</tr>
								<tr>
									<td>Wed, Oct 1 @ 8:30pm</td>
									<td>vs Arena Sports Grill Sandsharks</td>
									<td>L 12 - 15</td>
								</tr>
								<tr>
									<td>Wed, Oct 1 @ 9:30pm</td>
									<td>@ Arena Sports Grill Sandsharks</td>
									<td>W 13 - 6</td>
								</tr>
								<tr>
									<td>Wed, Oct 8 @ 6:30pm</td>
									<td>@ Ba Da Bing</td>
									<td>W 16 - 5</td>
								</tr>
								<tr>
									<td>Wed, Oct 8 @ 7:30pm</td>
									<td>vs Ba Da Bing</td>
									<td>L 14 - 15</td>
								</tr>
								<tr>
									<td>Wed, Oct 22 @ 6:30pm</td>
									<td>@ Dead Presidents</td>
									<td>W 11 - 7</td>
								</tr>
								<tr>
									<td>Wed, Oct 22 @ 7:30pm</td>
									<td>vs Dead Presidents</td>
									<td>W 8 - 3</td>
								</tr>
								<tr>
									<td>Wed, Oct 29 @ 6:30pm</td>
									<td>vs Los Cacahuetes</td>
									<td>W 16 - 6</td>
								</tr>
								<tr>
									<td>Wed, Oct 29 @ 7:30pm</td>
									<td>@ Los Cacahuetes</td>
									<td>T 9 - 9</td>
								</tr>
								<tr>
									<td>Wed, Nov 5 @ 8:30pm</td>
									<td>@ True D's</td>
									<td>W 17 - 16</td>
								</tr>
								<tr>
									<td>Wed, Nov 5 @ 9:30pm</td>
									<td>vs True D's</td>
									<td>L 4 - 10</td>
								</tr>
								<tr>
									<td>Wed, Nov 12 @ 8:30pm</td>
									<td>vs AXP (D League Playoffs)</td>
									<td>L 12 - 19</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	 </div>
</div>