<div class="tbl-section">
	<p class="tbl-section-meta">Fall 2018: {{ fall18.wins }} &minus; {{ fall18.losses }} &minus; {{ fall18.ties }}</p>
	<div class="gridplayers17" ng-grid="gridFall18Options"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, Sept 12 @ 6:30pm</td>
									<td>@ Thirsty Camels</td>
									<td>W 18 - 3</td>
								</tr>
								<tr>
									<td>Wed, Sept 12 @ 7:30pm</td>
									<td>vs Thirsty Camels</td>
									<td>W 14 - 13</td>
								</tr>
								<tr>
									<td>Wed, Sept 26 @ 8:30pm</td>
									<td>@ Hey Cuz</td>
									<td>L 12 - 20</td>
								</tr>
								<tr>
									<td>Wed, Sept 26 @ 9:30pm</td>
									<td>vs Hey Cuz</td>
									<td>L 10 - 20</td>
								</tr>
								<tr>
									<td>Wed, Oct 10 @ 6:30pm</td>
									<td>@ Arena Sports Grill</td>
									<td>W 13 - 12</td>
								</tr>
								<tr>
									<td>Wed, Oct 10 @ 7:30pm</td>
									<td>vs Arena Sports Grill</td>
									<td>W 14 - 13</td>
								</tr>
								<tr>
									<td>Wed, Oct 17 @ 6:30pm</td>
									<td>@ BALCO Bombers</td>
									<td>W 19 - 1</td>
								</tr>
								<tr>
									<td>Wed, Oct 17 @ 7:30pm</td>
									<td>vs Thirsty Camels</td>
									<td>L 11 - 17</td>
								</tr>
								<tr>
									<td>Wed, Oct 24 @ 8:30pm</td>
									<td>@ Arena Sports Grill</td>
									<td>L 7 - 21</td>
								</tr>
								<tr>
									<td>Wed, Oct 24 @ 9:30pm</td>
									<td>vs Hey Cuz</td>
									<td>L 24 - 32</td>
								</tr>
								<tr>
									<td>Wed, Nov 14 @ 7:30pm</td>
									<td>Playoffs TBD</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>