<div class="tbl-section">
	<p class="tbl-section-meta">PostSeason: {{ ps.wins }} &minus; {{ ps.losses }}</p>
	<div class="gridpostseason" ng-grid="gridPostSeasonOptions"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>

<!-- summer 2014-->
<tr>
		<td>Wed, July 30 @ 7:30pm</td>
		<td>@ Scared Hitless (D League Playoffs)</td>
		<td>L 11 - 13</td>
</tr>

<!-- fall 2014-->

<tr>
		<td>Wed, Nov 12 @ 8:30pm</td>
		<td>vs AXP (D League Playoffs)</td>
		<td>L 12 - 19</td>
</tr>

<!-- winter 2015-->

<tr>
		<td>Wed, July 29 @ 6:30pm</td>
		<td>@ Waternuts All Year Round (C League Playoffs)</td>
		<td>L 3 - 13</td>
</tr>

<!-- spring 2015-->
<tr>
		<td>Wed, May 20 @ 6:30pm</td>
		<td>@ Ba Da Bing (D League Playoffs)</td>
		<td>W 14 - 0</td>
</tr>
<tr>
		<td>Wed, May 20 @ 8:30pm</td>
		<td>@ Arena Sports Grill (D League Playoffs)</td>
		<td>W 12 - 9</td>
</tr>
<tr>
		<td>Wed, May 20 @ 9:30pm</td>
		<td>@ Henkel (D League Playoffs)</td>
		<td>L 8 - 9</td>
</tr>

<!-- summer 2015-->
<tr>
		<td>Wed, July 29 @ 6:30pm</td>
		<td>@ Outlaws  (C League Playoffs)</td>
		<td>L 0 - 11</td>
</tr>

<!-- fall 2015-->

<tr>
		<td>Mon, Nov 9 @ 6:30pm</td>
		<td>@ Kekambas (C League Playoffs)</td>
		<td>L 9 - 14</td>
</tr>

<!-- winter 2016-->

<tr>
		<td>Wed, Mar 2 @ 6:30pm</td>
		<td>@Thirsty Camels (Super B League Playoffs)</td>
		<td>L 9 - 15</td>
</tr>

<!-- spring 2016-->
<tr>
		<td>Wed, May 11 @ 6:30pm</td>
		<td>vs Phoenix Ale Brewery (Super C League Playoffs)</td>
		<td>W 10 - 4</td>
</tr>
<tr>
		<td>Wed, May 11 @ 8:30pm</td>
		<td>@ Cruisers (Super C League Playoffs)</td>
		<td>L 10 - 11</td>
</tr>

<!-- summer 2016-->

<tr>
		<td>Wed, Aug 3 @ 6:30pm</td>
		<td>vs Grayhawk Ghetto (C League Playoffs)</td>
		<td>W 11 - 9</td>
</tr>
<tr>
		<td>Wed, Aug 3 @ 8:30pm</td>
		<td>vs Southern Wine &amp; Spirits (C League Playoffs)</td>
		<td>L 6 - 9</td>
</tr>

<!-- fall 2016-->

<tr>
		<td>Wed, Nov 11 @ 8:30pm</td>
		<td>vs Longballs (C League Playoffs) </td>
		<td>L 10 - 13 </td>
</tr>
<!-- winter 2017 champs!-->

<tr>
		<td>Wed, Mar 15 8:30pm</td>
		<td>vs Caught Looking (Super C League Playoffs)</td>
		<td>W 10 - 5</td>
</tr>
<tr>
		<td>Wed, Mar 15 9:30pm</td>
		<td>vs Henkel Thunder Bunts (Super C League Playoffs)</td>
		<td>W 21 - 20</td>
</tr>

<!-- spring 2017-->
<tr>
		<td>Wed, May 17 @ 8:30pm</td>
		<td>vs Pitch Slapped (B League Playoffs)</td>
		<td>L 10 - 18</td>
</tr>

<!-- summer 2017-->
<tr>
		<td>Wed, July 26 @ 7:30pm</td>
		<td>@ Hey Cuz (B League Playoffs)</td>
		<td>L 13 -14</td>
</tr>

<!-- fall 2017 champs-->

<tr>
		<td>Wed, Nov 8 @ 8:30pm</td>
		<td>vs Swingers (Super C Playoffs)</td>
		<td>W 11 - 10</td>
</tr>
<tr>
		<td>Wed, Nov 8 @ 8:30pm</td>
		<td>v@ 99 Problems (Super C Playoffs)</td>
		<td>W 10 - 8</td>
</tr>

<!-- winter 2018 champs-->

<tr>
		<td>Wed, Mar 7 @ 6:30pm</td>
		<td>vs Cruisers (Super C Playoffs)</td>
		<td>W 16 - 1</td>
</tr>
<tr>
		<td>Wed, Mar 7 @ 7:30pm</td>
		<td>vs Outlaws (Super C Playoffs)</td>
		<td>W 13 - 3</td>
</tr>
<tr>
		<td>Wed, Mar 7 @ 8:30pm</td>
		<td>vs Southern (Super C Playoffs)</td>
		<td>W 11 - 4</td>
</tr>

<!-- spring 2018 -->
<tr>
		<td>Wed, May 9 @ 6:30pm</td>
		<td>vs Manday (B League Playoffs)</td>
		<td>W 4 - 3</td>
</tr>
<tr>
		<td>Wed, May 9 @ 7:30pm</td>
		<td>@ Arena Sports Grill (B League Playoffs)</td>
		<td>W 13 - 11</td>
</tr>
<tr>
		<td>Wed, May 9 @ 8:30pm</td>
		<td>@ Thirsty Camels (B League Playoffs)</td>
		<td>L 10 - 12</td>
</tr>

<!-- summer 2018 champs-->

<tr>
		<td>Wed, Aug 1 @ 8:30pm</td>
		<td>vs Arena Sports Grill (B League Playoffs)</td>
		<td>W 18 - 17</td>
</tr>
<tr>
		<td>Wed, Aug 1 @ 9:30pm</td>
		<td>vs Thirsty Camels (B League Playoffs)</td>
		<td>W 15 - 6</td>
</tr>

<!-- fall 2018 -->

<tr>
		<td>Wed, Nov 14 @ 7:30pm</td>
		<td>@ Arena Sports Grill (B League Playoffs)</td>
		<td>L 15 - 16</td>
</tr>

<!-- no winter 2019 season-->

<!-- spring 2019 -->

<tr>
		<td>Wed, May 15 @ 7:30pm</td>
		<td>vs Victor's Secret (B League Playoffs)</td>
		<td>W 14 - 4</td>
</tr>
<tr>
		<td>Wed, May 15 @ 8:30pm</td>
		<td>@ Hey Cuz (B League Playoffs)</td>
		<td>L 12 - 18</td>
</tr>

<!-- no summer 2019 season-->

<!-- fall 2019 champs -->

<tr>
		<td>Wed, Oct 30 @ 6:30pm</td>
		<td>vs Arena Sports Grill (B League Playoffs)</td>
		<td>L 4 - 7</td>
</tr>
<tr>
		<td>Wed, Oct 23 @ 7:30pm</td>
		<td>@ Arena Sports Grill (B League Playoffs)</td>
		<td>W 15 - 0</td>
</tr>
<tr>
		<td>Wed, Oct 23 @ 8:30pm</td>
		<td>@ Arena Sports Grill (B League Playoffs)</td>
		<td>W 11 - 5</td>
</tr>

<!-- winter 2020 -->



								</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>