<div class="tbl-section">
	<p class="tbl-section-meta">PostSeason: {{ ps.wins }} &minus; {{ ps.losses }}</p>
	<div class="gridpostseason" ng-grid="gridPostSeasonOptions"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, July 30, 2014 @ 7:30pm</td>
									<td>@ Scared Hitless (D League Playoffs)</td>
									<td>L 11 - 13</td>
								</tr>
								<tr>
									<td>Wed, Nov 12, 2014 @ 8:30pm</td>
									<td>vs AXP (D League Playoffs)</td>
									<td>L 12 - 19</td>
								</tr>
								<tr>
									<td>Wed, July 29, 2015 @ 6:30pm</td>
									<td>@ Waternuts All Year Round (C League Playoffs)</td>
									<td>L 3 - 13</td>
								</tr>
								<tr>
									<td>Wed, May 20, 2015 @ 6:30pm</td>
									<td>@ Ba Da Bing (D League Playoffs)</td>
									<td>W 14 - 0</td>
								</tr>
								<tr>
									<td>Wed, May 20, 2015 @ 8:30pm</td>
									<td>@ Arena Sports Grill (D League Playoffs)</td>
									<td>W 12 - 9</td>
								</tr>
								<tr>
									<td>Wed, May 20, 2015 @ 9:30pm</td>
									<td>@ Henkel (D League Playoffs)</td>
									<td>L 8 - 9</td>
								</tr>
								<tr>
									<td>Wed, July 29, 2015 @ 6:30pm</td>
									<td>@ The Hooks (C League Playoffs)</td>
									<td>L 0 - 11</td>
								</tr>
							    <tr>
							        <td>Mon, Nov 9, 2015 @ 6:30pm</td>
							        <td>@ Kekambas (B League Playoffs)</td>
							        <td>L 9 - 14</td>
							    </tr>
                                <tr>
                                    <td>Wed, Mar 2, 2016 @ 6:30pm</td>
                                    <td>@ Thirsty Camels (Super B League Playoffs)</td>
                                    <td>L 9 - 15</td>
                                </tr>
                                <tr>
                                    <td>Wed, May 11 @ 6:30pm</td>
                                    <td>vs Phoenix Ale Brewery (Super C League Playoffs)</td>
                                    <td>W 10 - 4</td>
                                </tr>
                                <tr>
                                    <td>Wed, May 11 @ 8:30pm</td>
                                    <td>@ Cruisers (Super C League Playoffs)</td>
                                    <td>L 10 - 11</td>
                                </tr>
                                <tr>
                                    <td>Wed, Aug 3 @ 6:30pm</td>
                                    <td>vs Grayhawk Ghetto (C League Playoffs)</td>
                                    <td>W 11 - 9</td>
                                </tr>
                                <tr>
                                    <td>Wed, Aug 3 @ 8:30pm</td>
                                    <td>vs Southern Wine &amp; Spirits (C League Playoffs)</td>
                                    <td>L 6 - 9</td>
                                </tr>
                                <tr>
                                    <td>Wed, Nov 9 @ 8:30pm</td>
                                    <td>vs Longballs (Super C League Playoffs)</td>
                                    <td>L 10 - 13</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 15 @ 8:30pm</td>
                                    <td>vs Caught Looking (Super C League Playoffs)</td>
                                    <td>W 10 - 5</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 15 @ 9:30pm</td>
                                    <td>vs Henkel Thunder Bunts (Super C League Playoffs)</td>
                                    <td>W 21 - 20</td>
								</tr>
								<tr>
									<td>Wed, Nov 8 @ 8:30pm</td>
									<td>vs Swingers</td>
									<td>W 11 - 10 (Super C Playoffs)</td>
								</tr>
								<tr>
									<td>Wed, Nov 8 @ 8:30pm</td>
									<td>v@ 99 Problems, &amp; A Pitch Ain't One</td>
									<td>W 10 - 8 (Super C Playoffs)</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	 </div>
</div>





