<div class="tbl-section">
	<p class="tbl-section-meta">Spring 2015: {{ spring15.wins }} &minus; {{ spring15.losses }} &minus; {{ spring15.ties }}</p>
	<div class="gridplayers16" ng-grid="gridSpring15Options"></div>
</div>


<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, Mar 25 @ 6:30pm</td>
									<td>vs Layin Lumber</td>
									<td>L 4 - 15</td>
								</tr>
								<tr>
									<td>Wed, Mar 25 @ 7:30pm</td>
									<td>@ Layin Lumber</td>
									<td>W 14 - 5</td>
								</tr>
								<tr>
									<td>Wed, Apr 1 @ 6:30pm</td>
									<td>@ Old Dogs</td>
									<td>L 4 - 5</td>
								</tr>
								<tr>
									<td>Wed, Apr 1 @ 7:30pm</td>
									<td>vs Old Dogs</td>
									<td>L 8 - 15</td>
								</tr>
								<tr>
									<td>Wed, Apr 8 @ 6:30pm</td>
									<td>vs Naturals</td>
									<td>L 10 - 17</td>
								</tr>
								<tr>
									<td>Wed, Apr 8 @ 7:30pm</td>
									<td>@ Naturals</td>
									<td>L 9 - 15</td>
								</tr>
								<tr>
									<td>Wed, Apr 15 @ 8:30pm</td>
									<td>vs Basically Co-Ed</td>
									<td>L 12 - 14</td>
								</tr>
								<tr>
									<td>Wed, Apr 15 @ 9:30pm</td>
									<td>@ Basically Co-Ed</td>
									<td>L 15 - 17</td>
								</tr>
								<tr>
									<td>Wed, Apr 29 @ 8:30pm</td>
									<td>@ Free Agents</td>
									<td>L 18 - 19</td>
								</tr>
								<tr>
									<td>Wed, Apr 29 @ 9:30pm</td>
									<td>vs Free Agents</td>
									<td>L 9 - 16</td>
								</tr>
								<tr>
									<td>Wed, May 6 @ 6:30pm</td>
									<td>@ Henkel</td>
									<td>L 11 - 13</td>
								</tr>
								<tr>
									<td>Wed, May 6 @ 7:30pm</td>
									<td>vs Henkel</td>
									<td>L 11 - 13</td>
								</tr>
								<tr>
									<td>Wed, May 13 @ 8:30pm</td>
									<td>vs Phoenix Ale Brewery</td>
									<td>W 12 - 2</td>
								</tr>
								<tr>
									<td>Wed, May 13 @ 9:30pm</td>
									<td>@ Phoenix Ale Brewery</td>
									<td>W 10 - 5</td>
								</tr>
								<tr>
									<td>Wed, May 20 @ 6:30pm</td>
									<td>@ Ba Da Bing (D League Playoffs)</td>
									<td>W 14 - 0</td>
								</tr>
								<tr>
									<td>Wed, May 20 @ 8:30pm</td>
									<td>@ Arena Sports Grill (D League Playoffs)</td>
									<td>W 12 - 9</td>
								</tr>
								<tr>
									<td>Wed, May 20 @ 9:30pm</td>
									<td>@ Henkel (D League Playoffs)</td>
									<td>L 8 - 9</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	 </div>
</div>
