<div class="tbl-section">
    <p class="tbl-section-meta">Spring 2019: {{ spring19.wins }} &minus; {{ spring19.losses }} &minus; {{ spring19.ties }}</p>
    <div class="gridplayers14" ng-grid="gridSpring19Options"></div>
</div>

<div class="container">
    <div class="row ">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Wed, Mar 20 @ 6:30pm</td>
                                    <td>vs Hey Cuz</td>
                                    <td>W 18 - 17</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 20 @ 7:30pm</td>
                                    <td>@ Hey Cuz</td>
                                    <td>W 34 - 7</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 27 @ 8:30pm</td>
                                    <td>@ Fat Elgerts</td>
                                    <td>W 21 - 7</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 27 @ 9:30pm</td>
                                    <td>vs Misfits</td>
                                    <td>W 13 - 3</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 3 @ 6:30pm</td>
                                    <td>@ Arena Sports Grill</td>
                                    <td>L 13 - 15</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 3 @ 7:30pm</td>
                                    <td>vs Arena Sports Grill</td>
                                    <td>L 12 - 17</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 10 @ 8:30pm</td>
                                    <td>@ Misfits</td>
                                    <td>W 13 - 6</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 10 @ 9:30pm</td>
                                    <td>@ Victor's Secret</td>
                                    <td>W 19 - 8</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 17 @ 6:30pm</td>
                                    <td>@ Balco Bombers</td>
                                    <td>W 13 - 8</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 17 @ 7:30pm</td>
                                    <td>vs JFQ-Huks</td>
                                    <td>W FFT</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 24 @ 6:30pm</td>
                                    <td>vs JFQ-Huks</td>
                                    <td>W FFT</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 24 @ 7:30pm</td>
                                    <td>@ Hey Cuz</td>
                                    <td>L 10 - 11</td>
                                </tr>
                                <tr>
                                    <td>Wed, May 1 @ 8:30pm</td>
                                    <td>@ Arena Sports Grill</td>
                                    <td>T 13 - 13</td>
                                </tr>
                                <tr>
                                    <td>Wed, May 1 @ 9:30pm</td>
                                    <td>vs JFQ-Huks</td>
                                    <td>W FFT</td>
                                </tr>
                                <tr>
                                    <td>Wed, May 8 @ ???</td>
                                    <td>TBD (B League Playoffs)</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>