<div class="tbl-section">
	<p class="tbl-section-meta">{{spring16.season}} {{spring16.year}}: {{ spring16.wins }} &minus; {{ spring16.losses }} &minus; {{ spring16.ties }}</p>
	<div class="gridplayers21" ng-grid="gridSpring16Options"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<div>
						<div>
								<div class="table-responsive">
										<table class="table table-hover">
												<tbody>
													<tr ng-repeat="item in spring16.schedule">
														<td>{{item.time}}</td>
														<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
														<td>{{ 
															item.runs > item.oppRuns ? 'W' 
																: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
																: (item.runs === item.oppRuns) ? 'T'
																: 'L' }} 
												
																{{item.runs}} - {{item.oppRuns }}
														</td>
													</tr>
												</tbody>
										</table>
								</div>
						</div>
				</div>
		</div>
	</div>
</div>
