<header class="page-header header container-fluid">
	<div class="overlay"></div>
	<p class="tbl-section-meta">
		{{spring15.season}} {{spring15.year}}: {{ spring15.wins }} &minus; {{ spring15.losses }} &minus; {{ spring15.ties }}
	</p>

<div class="tbl-section">
	<div class="gridplayers16" ng-grid="gridSpring15Options"></div>
</div>

</header>

<div class="container features">
	<div class="row ">
		<div class=" col-lg-10 col-sm-10 col-md-4">
				<div>
						<div>
								<div class="table-responsive">
										<table class="table table-hover">
												<tbody>
													<tr ng-repeat="item in spring15.schedule">
														<td>{{item.time}}</td>
														<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
														<td>{{ 
															item.runs > item.oppRuns ? 'W' 
																: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
																: (item.runs === item.oppRuns) ? 'T'
																: 'L' }} 
												
																{{item.runs}} - {{item.oppRuns }}
														</td>
													</tr>
												</tbody>
										</table>
								</div>
						</div>
				</div>
		</div>
	</div>
</div>
