<div class="tbl-section">
    <p class="tbl-section-meta">Spring 2018: {{ spring18.wins }} &minus; {{ spring18.losses }} &minus; {{ spring18.ties }}</p>
    <div class="gridplayers12" ng-grid="gridSpring18Options"></div>
</div>

<div class="container">
    <div class="row ">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Wed, Mar 21 @ 8:30pm</td>
                                    <td>vs 99 Problems</td>
                                    <td>W 17 - 9</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 21 @ 9:30pm</td>
                                    <td>@ 99 Problems</td>
                                    <td>W 13 - 5</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 28 @ 6:30pm</td>
                                    <td>vs Hey Cuz</td>
                                    <td>L 6 - 12</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 28 @ 7:30pm</td>
                                    <td>@ Hey Cuz</td>
                                    <td>W 17 - 15</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 4 @ 8:30pm</td>
                                    <td>@ Manday</td>
                                    <td>W 10 - 5</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 4 @ 9:30pm</td>
                                    <td>vs Manday</td>
                                    <td>L 12 - 15</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>