<div class="tbl-section">
    <p class="tbl-section-meta">Spring 2017: {{ spring17.wins }} &minus; {{ spring17.losses }} &minus; {{ spring17.ties }}</p>
    <div class="gridplayers15" ng-grid="gridSpring17Options"></div>
</div>

<div class="container">
    <div class="row ">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Wed, Mar 22 @ 8:30pm</td>
                                    <td>@ We should be a C team</td>
                                    <td>W 16 - 10</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 22 @ 9:30pm</td>
                                    <td>vs We should be a C Team</td>
                                    <td>W 10 - 9</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 29 @ 6:30pm</td>
                                    <td>@ Cruisers</td>
                                    <td>W 16 - 8</td>
                                </tr>
                                <tr>
                                    <td>Wed, Mar 29 @ 7:30pm</td>
                                    <td>vs Cruisers</td>
                                    <td>L 6 - 16</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 5 @ 7:30pm</td>
                                    <td>vs Caught Looking</td>
                                    <td>W 17 - 2</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 5 @ 8:30pm</td>
                                    <td>@ Caught Looking</td>
                                    <td>W 11 - 7</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 12 @ 8:30pm</td>
                                    <td>@ Outlaws</td>
                                    <td>L 9 - 17</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 12 @ 9:30pm</td>
                                    <td>vs Outlaws</td>
                                    <td>W 24 - 23</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 19 @ 8:30pm</td>
                                    <td>vs Longballs</td>
                                    <td>L 8 - 24</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 19 @ 9:30pm</td>
                                    <td>@ Longballs</td>
                                    <td>L 23 - 24</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 26 @ 8:30pm</td>
                                    <td>vs Thirsty Camels</td>
                                    <td>L 17 - 21</td>
                                </tr>
                                <tr>
                                    <td>Wed, Apr 26 @ 9:30pm</td>
                                    <td>@ Thirsty Camels</td>
                                    <td>T 16 - 16</td>
                                </tr>
                                <tr>
                                    <td>Wed, May 3 @ 6:30pm</td>
                                    <td>vs Hey Cuz</td>
                                    <td>L 7 - 13</td>
                                </tr>
                                <tr>
                                    <td>Wed, May 3 @ 7:30pm</td>
                                    <td>@ Hey Cuz</td>
                                    <td>L 9 - 12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>