<div class="tbl-section">
    <p class="tbl-section-meta">Summer 2017: {{ summer17.wins }} &minus; {{ summer17.losses }} &minus; {{ summer17.ties }}</p>
    <div class="gridplayers11" ng-grid="gridSummer17Options"></div>
</div>

<div class="container">
    <div class="row ">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Wed, June 7 @ 8:30pm</td>
                                    <td>@ Manday</td>
                                    <td>L 1 - 8</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 7 @ 8:30pm</td>
                                    <td>vs Manday</td>
                                    <td>L 7 - 12</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 14 @ 8:30pm</td>
                                    <td>vs Outlaws</td>
                                    <td>W 18 - 10</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 14 @ 8:30pm</td>
                                    <td>@ Outlaws</td>
                                    <td>W 18 - 17</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>