<div class="tbl-section">
    <p class="tbl-section-meta">Summer 2018: {{ summer18.wins }} &minus; {{ summer18.losses }} &minus; {{ summer18.ties }}</p>
    <div class="gridplayers13" ng-grid="gridSummer18Options"></div>
</div>

<div class="container">
    <div class="row ">
        <div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div>
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Wed, June 6 @ 8:30pm</td>
                                    <td>vs 99 Problems, &amp; A Pitch Ain't One</td>
                                    <td>W 17 - 1</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 6 @ 9:30pm</td>
                                    <td>@ 99 Problems, &amp; A Pitch Ain't One</td>
                                    <td>W 14 - 12</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 13 @ 8:30pm</td>
                                    <td>vs Outlaws</td>
                                    <td>W 11 - 9</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 13 @ 9:30pm</td>
                                    <td>@ Outlaws</td>
                                    <td>W 25 - 11</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 20 @ 6:30pm</td>
                                    <td>@ Arena Sports Grill</td>
                                    <td>L 17 - 18</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 20 @ 7:30pm</td>
                                    <td>vs Arena Sports Grill</td>
                                    <td>W 18 - 14</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 27 @ 6:30pm</td>
                                    <td>@ Hey Cuz</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, June 27 @ 7:30pm</td>
                                    <td>vs Hey Cuz</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, July 11 @ 8:30pm</td>
                                    <td>@ Balco Bombers</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, July 11 @ 9:30pm</td>
                                    <td>vs Balco Bombers</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, July 18 @ 6:30pm</td>
                                    <td>@ Noche Noche</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, July 18 @ 7:30pm</td>
                                    <td>vs Noche Noche</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, July 25 @ 6:30pm</td>
                                    <td>@ Thirsty Camels</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, July 25 @ 7:30pm</td>
                                    <td>vs Thirsty Camels</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Wed, Aug 1 @ 6:30pm</td>
                                    <td>TBD (Playoffs)</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>