<div class="tbl-section">
	<p class="tbl-section-meta">Summer 2015: {{ summer15.wins }} &minus; {{ summer15.losses }} &minus; {{ summer15.ties }}</p>
	<div class="gridplayers17" ng-grid="gridSummer15Options"></div>
</div>


<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, June 10 @ 8:30pm</td>
									<td>vs Scared Hitless</td>
									<td>W 19 - 9</td>
								</tr>
								<tr>
									<td>Wed, June 10 @ 9:30pm</td>
									<td>@ Scared Hitless</td>
									<td>W 21 - 2</td>
								</tr>
								<tr>
									<td>Wed, June 17 @ 6:30pm</td>
									<td>@ 99 Problems</td>
									<td>W 17 - 14</td>
								</tr>
								<tr>
									<td>Wed, June 17 @ 7:30pm</td>
									<td>vs 99 Problems</td>
									<td>L 9 - 11</td>
								</tr>
								<tr>
									<td>Wed, June 24 @ 8:30pm</td>
									<td>@ Fat Elgerts</td>
									<td>W 13 - 12</td>
								</tr>
								<tr>
									<td>Wed, June 24 @ 9:30pm</td>
									<td>vs Fat Elgerts</td>
									<td>W 17 - 5</td>
								</tr>
								<tr>
									<td>Wed, July 1 @ 8:30pm</td>
									<td>@ MMLL Stars</td>
									<td>L 8 - 24</td>
								</tr>
								<tr>
									<td>Wed, July 1 @ 9:30pm</td>
									<td>vs MMLL Stars</td>
									<td>L 13 - 17</td>
								</tr>
								<tr>
									<td>Wed, July 8 @ 6:30pm</td>
									<td>@ Immedia</td>
									<td>W 23 - 11</td>
								</tr>
								<tr>
									<td>Wed, July 8 @ 7:30pm</td>
									<td>vs Immedia</td>
									<td>W 18 - 14</td>
								</tr>
								<tr>
									<td>Wed, July 15 @ 6:30pm</td>
									<td>vs Ba Da Bing</td>
									<td>W 16 - 10</td>
								</tr>
								<tr>
									<td>Wed, July 15 @ 7:30pm</td>
									<td>@ Ba Da Bing</td>
									<td>W 20 - 13</td>
								</tr>
								<tr>
									<td>Wed, July 22 @ 8:30pm</td>
									<td>@ Discount Tire</td>
									<td>W 13 - 7</td>
								</tr>
								<tr>
									<td>Wed, July 22 @ 9:30pm</td>
									<td>vs Discount Tire</td>
									<td>L 2 - 13</td>
								</tr>
								<tr>
									<td>Wed, July 29 @ 6:30pm</td>
									<td>@ Outlaws  (C League Playoffs)</td>
									<td>L 0 - 11</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	 </div>
</div>
