<div class="tbl-section">
	<p class="tbl-section-meta">Summer 2016: {{ summer16.wins }} &minus; {{ summer16.losses }} &minus; {{ summer16.ties }}</p>
	<div class="gridplayers19" ng-grid="gridSummer16Options"></div>
</div>

<div class="container">
	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, June 8 @ 8:30pm</td>
									<td>vs Southern Wine &amp; Spirits</td>
									<td>W 11 - 9</td>
								</tr>
								<tr>
                                    <td>Wed, June 8 @ 9:30pm</td>
                                    <td>@ Southern Wine &amp; Spirits</td>
                                    <td>L 11 - 12</td>
								</tr>
                                <tr>
                                    <td>Wed, June 15 @ 8:30pm</td>
                                    <td>vs Fat Elgerts</td>
                                    <td>W 17 - 0</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 15 @ 9:30pm</td>
                                    <td>@ Fat Elgerts</td>
                                    <td>W 19 - 13</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 22 @ 6:30pm</td>
                                    <td>@ Caught Looking</td>
                                    <td>L 12 - 13</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 22 @ 7:30pm</td>
                                    <td>vs Caught Looking</td>
                                    <td>W 14 - 8</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 29 @ 6:30pm</td>
                                    <td>vs Sons of Pitches Dos</td>
                                    <td>W 21 - 10</td>
                                </tr>
                                <tr>
                                    <td>Wed, June 29 @ 7:30pm</td>
                                    <td>@ Sons of Pitches Dos</td>
                                    <td>W 9 - 8</td>
                                </tr>
                                <tr>
                                    <td>Wed, July 6 @ 8:30pm</td>
                                    <td>vs Bait &amp; Pitch</td>
                                    <td>W 14 - 3</td>
                                </tr>
                                <tr>
                                    <td>Wed, July 6 @ 9:30pm</td>
                                    <td>@ Bait &amp; Pitch</td>
                                    <td>W 18 - 5</td>
                                </tr>
                                <tr>
                                    <td>Wed, July 13 @ 6:30pm</td>
                                    <td>vs The Big Dogs</td>
                                    <td>L 11 - 17</td>
                                </tr>
                                <tr>
                                    <td>Wed, July 13 @ 7:30pm</td>
                                    <td>@ The Big Dogs</td>
                                    <td>L 12 - 13</td>
                                </tr>
                                <tr>
                                    <td>Wed, July 20 @ 6:30pm</td>
                                    <td>vs 99 Problems, &amp; A Pitch Ain't One</td>
                                    <td>L 3 - 13</td>
                                </tr>
                                <tr>
                                    <td>Wed, July 20 @ 7:30pm</td>
                                    <td>@ 99 Problems, &amp; A Pitch Ain't One</td>
                                    <td>W 9 - 1</td>
                                </tr>
                                <tr>
                                    <td>Wed, Aug 3 @ 6:30pm</td>
                                    <td>vs Grayhawk Ghetto (C League Playoffs)</td>
                                    <td>W 11 - 9</td>
                                </tr>
                                <tr>
                                    <td>Wed, Aug 3 @ 8:30pm</td>
                                    <td>vs Southern Wine &amp; Spirits (C League Playoffs)</td>
                                    <td>L 6 - 9</td>
                                </tr>
                            </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	 </div>
</div>