<div class="tbl-section">
	<p class="tbl-section-meta">Winter 2018: {{ winter18.wins }} &minus; {{ winter18.losses }} &minus; {{ winter18.ties }}</p>
	<div class="gridplayers10" ng-grid="gridWinter18Options"></div>
</div>

<div class="container">

	<div class="row ">
		<div class=" col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
			<div>
				<div>
					<div class="table-responsive">
						<table class="table table-hover">
							<tbody>
								<tr>
									<td>Wed, Jan 17 @ 6:30pm</td>
									<td>@ Cruisers</td>
									<td>W 18 - 1</td>
								</tr>
								<tr>
									<td>Wed, Jan 17 @ 7:30pm</td>
									<td>vs Cruisers</td>
									<td>W 14 - 6</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

