<div class="championship-banner" ng-if="winter18.schedule[winter18.schedule.length-1].gametype === 'Postseason' && winter18.schedule[winter18.schedule.length-1].runs > winter18.schedule[winter18.schedule.length-1].oppRuns" class="corner-ribbon bottom-right sticky blue shadow">
	{{ winter18.schedule[winter18.schedule.length-1].level }} League Champs!
</div>
<header class="page-header header container-fluid">
	<div class="overlay"></div>
	<p class="tbl-section-meta">
		{{winter18.season}} {{winter18.year}}: {{ winter18.wins }} &minus; {{ winter18.losses }} &minus; {{ winter18.ties }}
	</p>

<div class="tbl-section">
	<div class="gridplayers12" ng-grid="gridWinter18Options"></div>
</div>

</header>

<div class="container features">
	<div class="row ">
		<div class=" col-lg-10 col-sm-10 col-md-4">
				<div>
						<div>
								<div class="table-responsive">
										<table class="table table-hover">
												<tbody>
													<tr ng-repeat="item in winter18.schedule">
														<td>{{item.time}}</td>
														<td>{{item.location === 'home' ? 'vs' : '@'}} {{item.team}} {{item.gametype === 'Postseason' ? '- ' + item.level + ' League Playoffs' : ''}}</td>
														<td>{{ 
															item.runs > item.oppRuns ? 'W' 
																: (item.runs === 0 && item.oppRuns === 0) ? 'FFT'
																: (item.runs === item.oppRuns) ? 'T'
																: 'L' }} 
												
																{{item.runs}} - {{item.oppRuns }}
														</td>
													</tr>
												</tbody>
										</table>
								</div>
						</div>
				</div>
		</div>
	</div>
</div>
